# Data and outputs
data/coco
data/preprocessed
data/annotations
sample/
sample_lr/
artifacts/
results/
condor_logs/
# Python
__pycache__/
*.pyc
.env
.venv
# Jupyter
.ipynb_checkpoints/
gpu_instructions/
